.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
}

.flip-card-front, .flip-card-back {
  width: 100%;
  height: 100%;
}

.flip-card-back {
  background-color: black;
  color: white;
  z-index: 1;
}

img {
  width: 25%;
  margin: 4%;
}

